<h2>Collapse</h2>
<h3>Regular Collapse</h3>
<bx-collapse>
    <bx-collapse-item title="First Collapse Item">
        <p>Some Item</p>
        <p>Some Item</p>
    </bx-collapse-item>
    <bx-collapse-item title="Second Collapse Item">
        <p>Second Item</p>
    </bx-collapse-item>
    <bx-collapse-item title="Third Collapse Item">
        <p>Somw Item</p>
        <p>Some Item</p>
        <p>Some Item</p>
    </bx-collapse-item>
</bx-collapse>


<h2>Spinner</h2>
<h3>Component Spinner</h3>
<bx-spinner></bx-spinner>
